<h3><i class="fas fa-book-reader"></i> Your page</h3>
<div class="section">
    <p class="lead">Get log in and continue your way</p>
</div>
<div class="divider"></div>
<div class="section">
    <div class="google-button">
        <a href="/auth/google" class="btn red darken-1 google-redirec-link">
            <i class="fab fa-google left"></i> Log In With Google
        </a>
    </div>
    <div>
        <a href="/auth/facebook" class="btn blue darken-1">
            <i class="fab fa-facebook left"></i> Log In With Facebook
        </a>
    </div>
</div>